li {
    font-size: 23px;
    color: black;
    text-decoration: none;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.main_page_down {
    display: block;
    margin-top: 25px;
    margin-bottom: 40px;
    text-align: center;
}

.form {
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

input[type=submit]:hover {
    background-color: darkblue;
}

input[type=submit] {
    width: 50%;
    height: 80px;
    background-color: blue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

input[type=text],
select {
    font-size: 18px;
    background-color: #f2f2f2;
    width: 50%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

.team {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    line-height: 62px;
    flex-wrap: wrap;
}

.team p {
    font-size: 35px;
    text-align: center;
    font-weight: 900;
    color: #3E3E3E;
}

.part {
    margin-top: 3px;
    display: inline-block;
    background-color: #F6F6F6;
    font-weight: 900;
    font-size: 96px;
    color: #0F5EEA;
    padding: 20px 20px 10px 20px;
    line-height: 1;
    border-radius: 10px;
    letter-spacing: 0.15em;
    margin-left: 4px;
    margin-right: 4px;
}

.main_block {
    display: block;
    text-align: center;
    margin-top: 70px;
    font-family: sans-serif;
    font-size: 24px;
    align-items: center;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
}

.for_table {
    display: flex;
    margin: 50px 100px 50px 150px;
    align-items: center;
    justify-content: center;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    border-left: 2px solid black;
    margin-left: 50px;
    padding-left: 0;
}

.up {
    display: fixed;
    text-align: center;
    width: 200px;
    border-radius: 50%;
}